/* Selectors------------------------------------------- */
.filters {
    border: none;
    background-color: #BA0C2F;
    color: white;
    padding: 5px;
    font-family: "oswald";
} 

label {
    margin-bottom: .25rem;
    font-family: "oswald";
}

select {
  display: inline-block;
}

.selectorsResetWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#selectors {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.selectorContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

#resetButton {
  border: none;
  background-color: #BA0C2F;
  padding: 1rem;
  color: white;
  display: inline-block;
  height: 50%;
  margin-right: 1rem;
}

@media screen and (max-width: 839px) {
  .selectorContainer {
    margin: 0 .25rem;
  }
}


/* Table---------------------------------------------- */
table {
  border-collapse: collapse;
}

table td {
  border-bottom: 1px solid #9EA2A2;
}

th {
  background-color: #9EA2A2;
  color: white;
  padding: .25rem .5rem;
}

td {
    padding: .5rem .5rem;
}

td:last-child {
  display: none;
}

th:last-child {
  display: none;
}